<!DOCTYPE html>
{% load static %}
{% load lumber_tags %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link type = "text/css" href = "{% static 'lumber/css/style.css' %}" rel = "stylesheet">
</head>
<body>
    <!-- Меню (одинаковое на всех страницах) -->
    <p>
        {% show_categories %}
    </p>

    <!-- Заголовок страницы (можно переопределить в дочерних шаблонах) -->
    <h1>{% block heading %}{{ title }}{% endblock %}</h1>

    <!-- Основное содержимое страницы -->
    {% block content %}
    {% endblock %}
</body>
</html>